@import 'fonts';
@import 'variables';
@import './components/all';


* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-size: 20px;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $col_accent;
    color: $col_secondary;
    font-size: 16px;
    line-height: 24px;
    min-height: 100vh;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: $col_base_strong;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: $col_base_strong;
}

h2 {
}

a {
    text-decoration: none;
}



// Global custom styles for all the components
